<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GHIElectronics.TinyCLR.Core" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Cryptography" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Can" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Display" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Gpio" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.I2c" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Network" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Pwm" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Rtc" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Spi" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Storage" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Uart" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.Usb" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Devices.UsbHost" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drawing" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.Microchip.Winc15x0" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.Sitronix.ST7735" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Drivers.STMicroelectronics.LIS2HH12" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.IO" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Native" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Networking" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.Pins" version="2.2.0.5000" targetFramework="net452" />
  <package id="GHIElectronics.TinyCLR.UI" version="2.2.0.5000" targetFramework="net452" />
</packages>